@charset "UTF-8";
/*!
Auteur: Eddy Martin
Description: Gabarit de base permettant d'explorer Sass et différents techniques CSS
Version: 1.0.0
License: GNU General Public License v2 or later

*/
/*--------------------------------------------------------------
>>> LISTE DES FICHIERS SCSS IMPORTÉS 
----------------------------------------------------------------
# Variables
# Layout
# Element
# Menu
# Pied-page
----------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/* ------------------------------------------------------------
# Element 
--------------------------------------------------------------*/
/* Les éléments simples.  
On définit ici des règles de styles générales qui peuvent être enrichies ailleur.
Ces règles servent de bases  
*/
header {
  color: #b19090;
}

header h1 {
  font-size: 3em;
  padding: 1rem 0 .1rem 0;
  margin: 0;
}

header h2 {
  font-size: 1em;
  padding: 0 0 20px 0;
  margin: 0;
}

@media screen and (min-width: 500px) {
  header h1 {
    font-size: 5em;
    margin: 0;
  }
  header h2 {
    font-size: 1em;
    margin: 0;
  }
}

/* ------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header,
nav,
main,
footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  z-index: 999;
}

header,
footer {
  background-color: #a44444;
}

nav {
  background-color: #4a1f1f;
}

main {
  padding-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #f8efef;
  color: #676262;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.global {
  width: 95%;
}

@media screen and (min-width: 600px) {
  .global {
    width: 80%;
  }
}

/* ------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
/* 
le menu est contrôlé par une case à cocher
l'état checked est testé ici:
*/
#checkMenu:checked ~ ul {
  max-height: 200px;
}

#checkMenu:checked ~ ul > li {
  opacity: 1;
}

#checkMenu:checked ~ #btnMenu {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #0f0;
}
main{
    border: 1px solid black;
    background-color: blue;
}

footer{
    border: 1px solid black;
    background-color: red;
}
